# DO NOT CHANGE THE NAME OF THIS FILE!
#
# This is the gitignore file that the students will receive so they don't
# accidentally commit build products.  It is named WITHOUT the leading dot
# so that it doesn't cause problems in our source repo.  The dot will be
# added when is it copied to Didit.
#
*.vmh
*.o
*.dump
*.pyc

